body {
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  width: 100vw;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  border-radius: 40px;
  cursor: pointer;
}
.container:hover{
      transform: scale(1.01);
        box-shadow: 0 0 0 0.2px black


}

